.py_pagecenter_window { width: 100vw; height: 100vh; }
.py_pagecenter_main { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.py_pagecenter_sidebar { width: 50px; padding: 0 10px; border-right: 1px solid #ddd; }
.py_pagecenter_sidebar a { display: block; margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #eee; font-size: 14px; color: #666; text-align: center; }
.py_pagecenter_sidebar a.active,.py_pagecenter_sidebar a.active i { color: #f20 }
.py_pagecenter_sidebar i { font-size: 20px; }
.py_pagecenter_sidebar ~ .py_pagecenter_main, .py_pagecenter_sidebar ~ .py_pagecenter_topbar { left: 50px; }

.py_pagecenter_topbar { border-bottom: 1px solid #ddd; height: 50px; }
.py_pagecenter_topbar ~ .py_pagecenter_main { top: 50px; }

